<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
			<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
				<section name="Selenium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			</sectionGroup>
		</configSections>
		<log4net debug="false">
			<logger name="log">
				<level value="All"></level>
				<appender-ref ref="RollingLogFileAppender" />
			</logger>
			<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
				<file value="C:\\GoatApp\\TestLogs.txt" />
				<appendToFile value="false" />
				<rollingStyle value="Composite" />
				<maxSizeRollBackups value="1" />
				<maximumFileSize value="1GB" />
				<staticLogFileName value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
				</layout>
			</appender>
			<appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
			</appender>
			<root>
				<level value="Info" />
				<level value="DEBUG" />
				<appender-ref ref="RollingLogFileAppender" />
				<appender-ref ref="MemoryAppender" />
			</root>
		</log4net>
		<userSettings>
			<Selenium.Properties.Settings>
				<setting name="Label" serializeAs="String">
					<value>False</value>
				</setting>
			</Selenium.Properties.Settings>
		</userSettings>
</configuration>
